<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/me.jpg" alt="Andrew" class="avatar">
                <h2 class="section-heading">What am I about?</h2>
                <!-- <hr class="light"> -->
                <p class="text-faded">I help people waste less time on menial (or otherwise frustrating) tasks.</p>
                <p class="text-faded">Otherwise, I study computer engineering at Georgia Tech and I enjoy reading long heroic fantasy novels and listening to music.</p>
                <!-- <a href="https://gitlab.com/jekyll-themes/creative/" class="btn btn-default btn-xl">Fork Me!</a> -->
            </div>
        </div>
    </div>
</section>
