<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Andrew Gauker</h1>
            <hr>
            <p>I like computer stuff and DIY projects. Welcome to my corner of the internet.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
